.Tile {
  position: absolute;
}

.Tile__Anchor {
  position: absolute;
  width: 75px;
  height: 75px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
}

.Tile__Origin {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
}
