.Plopper__ItemWrapper {
  position: absolute;
  z-index: 5000;
  opacity: .75;
  transform-origin: 0 0;
  pointer-events: none;
}

.Plopper__Item {
  transform: translate(-50%, -50%);
}

.Plopper__Item.Monster, .Plopper__Item.Token {
  transform: translateY(-50%);
}

.Plopper__Item.Token[data-hexes="3"] {
  transform: translateY(-70%);
}

.Plopper__List {
  position: absolute;
  z-index: 5000;
  background-color: #fff;
}

.Plopper__Select {
  max-height: 350px;
  overflow: auto;
}

.Plopper__Select .isSelected {
  background-color: #cacaff;
}

.Plopper__Option {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Plopper__Option img {
  margin-right: 10px;
}
