.plopper-wrapper {
  position: absolute;
  z-index: 5000;
  opacity: .75;
  transform-origin: 0 0;
  pointer-events: none;
}

.plopper {
  transform: translate(-50%, -50%);
}

.plopper.monster, .plopper.token {
  transform: translateY(-50%);
}

.plopper.token[data-hexes="3"] {
  transform: translateY(-70%);
}

.plopper-list {
  position: absolute;
  z-index: 5000;
  background-color: #fff;
}

.plopper-list .isSelected {
  background-color: #cacaff;
}