body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Monster, .Token {
  position: absolute;
  z-index: 10;
  height: 200px;
  margin-left: -100px;
  margin-bottom: -100px;
  transform-origin: center;
  user-select: none;
}

.Monster {
  z-index: 1;
  background-size: 100%;
  width: 200px;
  height: 200px;
}

.Monster--H, .Monster--V {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.Monster--H {
  bottom: 11.5px;
  left: 46.5px;
  width: 106px;
  height: 41px;
  background-size: 75px 21px;
  transform-origin: 53px -48.5px;
}

.Monster--V {
  bottom: 1.5px;
  left: 53.5px;
  width: 91px;
  height: 49px;
  background-size: 75px 33px;
  transform-origin: 46px -50.2px;
}

.Monster--H[data-type="hidden"] { background-image: url(/images/monsters/type-hidden-h.png); }
.Monster--V[data-type="hidden"] { background-image: url(/images/monsters/type-hidden-v.png); }

.Monster--H[data-type="normal"] { background-image: url(/images/monsters/type-normal-h.png); }
.Monster--V[data-type="normal"] { background-image: url(/images/monsters/type-normal-v.png); }

.Monster--H[data-type="elite"] { background-image: url(/images/monsters/type-elite-h.png); }
.Monster--V[data-type="elite"] { background-image: url(/images/monsters/type-elite-v.png); }

.Monster--H[data-party="2"], .Monster--V[data-party="2"] { transform: rotate(120deg); }
.Monster--H[data-party="3"], .Monster--V[data-party="3"] { transform: rotate(-120deg); }

.Token {
  height: 225px;
  margin-left: -103.5px;
  margin-bottom: -115.5px;
}

.Token.isOverlay {
  z-index: 11;
}

.Token[data-hexes="2"] {
  width: 390px;
  height: 242px;
  transform-origin: 98.5px 123.5px;
}

.Token[data-hexes="3"] {
  width: 400px;
  height: 400px;
  transform-origin: 103px 284px;
}