.map__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.map {
  position: absolute;
}

.selectedTile__wrapper {
  position: absolute;
  z-index: 1000;
  opacity: 0.75;
  transform-origin: 0 0;
}

.selectedTile {
  transform-origin: 0 0;
}

.selectedTile img {
  width: 50%;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}