.map__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.map__wrapper.isAbleToPan {
  cursor: grab;
}

.map__wrapper.isPanning {
  cursor: grabbing;
}

.map__wrapper.isAbleToPan .map {
  pointer-events: none;
}

.map {
  position: absolute;
}

.plopper-wrapper {
  position: absolute;
  z-index: 5000;
  opacity: .75;
  transform-origin: 0 0;
  pointer-events: none;
}

.plopper {
  transform: translate(-50%, -50%);
}

.plopper.monster, .plopper.token {
  transform: translateY(-50%);
}

.plopper.token[data-hexes="3"] {
  transform: translateY(-70%);
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}